/* CSS Document */
/* just use this so you can see the rows and columns


.row {
	
	outline: solid #E01619;
}

.columns {
	outline:dotted;	
}

*/


/* ---------- GLOBAL STYLES ---------------*/

body p, li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
}


.h-space {
  margin: 0 6%;
}

.tbspace {
	margin: 3% 0;	
}


.about {
  display: block;
  padding: 4%;
  
}


input.search {
  clear: none;
  width: 100%;
  border-radius: 8px;
 
}

.writeup {
  font-size: 12pt;
  padding: 0%;
}

.grey {
  color: #737373;
}


#submit, #reset {
  width: 80px;
  height: 40px;
  background-color: #5caa5e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 4px;
}


#submit:hover, #reset:hover {
  opacity: 0.8;
}

.selectedimg {
  opacity: 1 !important;
}

.contactlink h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22pt;
  font-weight: bold;
  color: #ffffff;
}

           
.map-area {
  padding-bottom: 4%;
}

.footer {
  display: block;
  max-height: 200px;
  min-height: 100px;
  text-align: center;
  padding-top: 4%;
}



/* -------   DESKTOP ONLY --------- */

@media only screen and (min-width: 40.063em) {
	

	
	/*headers*/
		.prehead {
		  height: 300px;
		  display: inline-block;
		  padding: 1%;
		  background: url(../img/dlogo.png) no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  
		}
		
		#head1 {
		  height: 400px;
		  background: url(../img/home-header.jpg) no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  position: relative;
		}
		
		#head2 {
		  height: 400px;
		  background: url(../img/contactheader.jpg) no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  position: relative;
		}
		
		
		.bottomhead {
		  position: absolute;
		  display: inline-block;
		  top: 80%;
		}

/* sidebar */
		.side {
		  height: 30%;
		  display: block;
		  margin: 0%;
		}
		
		

		.snav {
		  margin: 4% 0;
		}
		
		
		.snav li {
		  list-style: none;
		  display: block;
		  background-color: #353333;
		  padding: 2%;
		  margin-bottom: 20%;
		  margin-top: 10%;
		}
		
		.snav li a {
		
		}
		
/* content */		
		.homeimage {
		  float: left;
		  height: 400px;
		  background: url(../img/homeimage.jpg) no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  position: relative;
		}
		
		
		.contactimage {
		  float: left;
		  margin-top:4%;
		  height: 400px;
		  background: url(../img/contactimage.jpg) no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  position: relative;
		}
		  #mendrop {
			display: none !important;
		  }
		  .sresults {
			position: absolute;
			top: 90%;
			left:56%;
			background-color: #ffffff;
			z-index: 1;
			width: 40%;
			display: none;
			box-shadow: 5px 5px 5px #888888;
			
		  }
		  
				  
		.mcmap {
		
			height:400px;	
		}
		.mcmap iframe {
			height:100%;	
			
		}
		  .iconsp img{
			  
			  width:15%;
		  
		  }
				  
		.imgnav {
			margin:0;
			float:left;
		  
		}
		
		
		.imgnav img {
		  margin: 0  2%;
		  border-style: solid;
		  border-width: 10px;
		  border-color: #CCCCCC;
		  opacity: 0.8;
		}
		
		
		.imgnav img:hover {
		  opacity: 1;
		}
		
		.imgnav ul {
			text-decoration:none;
			display:inline-block;	
			padding:0px;
		
			margin-left:0rem!important;
		}
		
		.imgnav li{
			text-decoration:none;
			display:inline-block;	
			padding:0rem!important;
			
		}
		
		
		.imgnav figure {
			margin-left:0px;	
	
		}
		.topimgnav {
			float:left;	
		
		}
		.topimgnav img {
		  margin-right: 40%;
		  border-style: solid;
		  border-width: 10px;
		  border-color: #CCCCCC;
		  opacity: 0.6;
		  width: 100px;
		}
		
		.gallery img {
				
			margin:2%;
			padding-right:4%;    
		 }
		

		.contact {
		
		margin-top:0%;
		margin-left:2%;
		width:70%;
		background-color:#ffffff;
		text-align:center;
		font-size:18pt;
		border-radius:4px;
		padding:2px;
		opacity:0.9;
		
		}
		
		.contact:hover{
		
		opacity:0.8;
		}
		
		.credit p{
		
		margin:2%;
		font-size:10pt;
		padding:2px;
		
	}

  
}


/* ---------------- MOBILE STUFF ---------------------- */


        @media only screen and (max-width: 40em) {
			

            ul.bar {
                
                margin:0rem;
            }
			.bar li {
			  display: inline;
			  list-style-type: none;
              padding:0;
              margin:0;
			}
			
			
			.bar li i {
			  cursor: default;
			  color: #ffffff;
			  font-size: 42pt;
			}
			
			
			.bar li input {
			  height: 30px;
			  border-radius: 8px;
			  margin-top: 15%;
			  width: 100%;
			}
			
			
			.mobnav {
			  padding-bottom: 0;
			  text-align: center;
			  background-color: #353333;
			}
			
			.moblogo{
				
				margin-bottom:6%;
			}
			
			.moblogo img {
				
				border-radius:6px;
			}

            

            .topimgnav img {
              margin: 2%;
              border-style: solid;
              border-width: 4px;
              border-color: #CCCCCC;
              opacity: 0.6;
              width: 100px;
            }

           
			.topimgnav li {
				margin:0;	
				padding-bottom:0;
			}

			.imgclick li a{
			color:#000000;	
			}
		
            .selectedimg {
              opacity: 1 !important;
            }


              h1 {
                font-size: 18pt;
              }


              h2 {
                font-size: 16pt;
              }

              .half {
                width: 50vw;
                margin: 0;
                float: left;
                padding: 2%;
              }


              .half img {
                min-width: 100%;
              }

            

              .iconsp img{
				  
				  width:40%;
				  margin:1px;
              
              }
				

              .iconsp p {
                font-size: 8pt;
              }

			.mcmap {
			
				height:150px;	
			}
			.mcmap iframe {
				height:100%;	
				
			}
				
			a {
				color: #000000;
				text-decoration: none;
				line-height: 0;
			}	
				
            
              #mendrop {
                  
                padding-top:8px;
                position: absolute;
                top: 80px;
                background-color: #353333;
                z-index: 2;
                width: 100%;
                display: none;
                box-shadow: 5px 5px 5px #888888;
              }
				#mendrop li {
					text-decoration:none;
					list-style-type:none;
					color:#CDCACA;
				}
				li a {
					color:#ffffff;
				}
				
              .sresults {
                position: absolute;
                top: 78px;
                background-color: #ffffff;
                z-index: 1;
                width: 100%;
                height: 60vh;
                display: none;
                box-shadow: 5px 5px 5px #888888;
              }


              .citylist > li {
                margin: 0;
                font-weight: bold;
                list-style-type: none;
              }


              .parklist {
                list-style-type: none;
              }

              .about p {
                font-size: 10pt;
              }




              .thumb {
                padding: 2%;
              }


              .thumb img {
                width: 80%;
                margin-left: 4%;
                margin-top: 4%;
              }


              .ilabel {
                background-color: #ffffff;
                color: #CCCCCC;
                font-size: 12pt;
              }


              .thumbinfo {
                margin: 4% 0;
                line-height: 2px;
              }
			  
			  .gallery img {
				
					margin:2% 0;  
				  
			  }
			  
              .banner {
				  height:100px;
				  display: inline-block;
				  padding: 1%;
				  margin-top:1%;
				  background: url(../img/banner.png) no-repeat center;
				  -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
		  
		}
	.contact {
    
		margin:0 2%;
		width:30%;
		background-color:#ffffff;
		text-align:center;
		font-size:14pt;
		border-radius:4px;
		padding:2px;
    
}

.contact:hover{
    
    opacity:0.6;
}
	
	.credit p{
		
		margin:2%;
		font-size:10pt;
		padding:2px;
		
	}
	
	.bigimg {
		display:none;	
	}
        }
     








