/* CSS Document */
/* just use this so you can see the rows and columns


.row {
	
	outline: solid #E01619;
}

.columns {
	outline:dotted;	
}

*/
/* line 21, ../scss/app.scss */
body p, li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
}

/* line 26, ../scss/app.scss */
.h-space {
  margin: 0 6%;
}

/* line 31, ../scss/app.scss */
.writeup {
  font-size: 12pt;
  padding: 0 2%;
}

/* mobile stuff */
/* line 39, ../scss/app.scss */
.bar li {
  display: inline;
  list-style-type: none;
}

/* line 46, ../scss/app.scss */
.bar li i {
  cursor: default;
  color: #ffffff;
  font-size: 36pt;
}

/* line 54, ../scss/app.scss */
.bar li input {
  height: 30px;
  border-radius: 8px;
  margin-top: 15%;
  width: 100%;
}

/* line 63, ../scss/app.scss */
.mobnav {
  padding-bottom: 0;
  text-align: center;
  background-color: #353333;
}

/* line 73, ../scss/app.scss */
#submit, #reset {
  width: 80px;
  height: 40px;
  background-color: #5caa5e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 4px;
}

/* line 84, ../scss/app.scss */
#submit:hover, #reset:hover {
  opacity: 0.8;
}

/* line 89, ../scss/app.scss */
.imgnav {
  padding: 2%;
  padding-left: 10%;
}

/* line 96, ../scss/app.scss */
.imgnav img {
  margin: 0  2%;
  border-style: solid;
  border-width: 10px;
  border-color: #CCCCCC;
  opacity: 0.8;
}

/* line 107, ../scss/app.scss */
.imgnav img:hover {
  opacity: 1;
}

/* line 112, ../scss/app.scss */
.topimgnav {
  margin: auto;
}

/* line 115, ../scss/app.scss */
.topimgnav img {
  margin: 2%;
  border-style: solid;
  border-width: 10px;
  border-color: #CCCCCC;
  opacity: 0.6;
  width: 100px;
}

/* line 125, ../scss/app.scss */
.topimgnav img:hover {
  opacity: 0.8;
}

/* line 129, ../scss/app.scss */
.selectedimg {
  opacity: 1 !important;
}

/* line 132, ../scss/app.scss */
.capwrap {
  margin: 4%;
}

/* line 138, ../scss/app.scss */
.contactlink h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22pt;
  font-weight: bold;
  color: #ffffff;
}

/* line 144, ../scss/app.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 152, ../scss/app.scss */
.map-area {
  padding-bottom: 4%;
}

@media only screen and (min-width: 40.063em) {
  /* line 160, ../scss/app.scss */
  #mendrop, #sresults {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 171, ../scss/app.scss */
  h1 {
    font-size: 18pt;
  }

  /* line 174, ../scss/app.scss */
  h2 {
    font-size: 16pt;
  }

  /* line 178, ../scss/app.scss */
  .half {
    width: 50vw;
    margin: 0;
    float: left;
    padding: 2%;
  }

  /* line 185, ../scss/app.scss */
  .half img {
    min-width: 100%;
  }

  /* line 189, ../scss/app.scss */
  .amen {
    width: 30vw;
    margin: 0;
    float: left;
    padding: 2%;
  }

  /* line 196, ../scss/app.scss */
  .iconsp {
    width: 70vw;
    margin: 0;
    float: left;
  }

  /* line 202, ../scss/app.scss */
  .iconsp p {
    font-size: 8pt;
  }

  /* line 206, ../scss/app.scss */
  .gallery {
    width: 100%;
    background-color: #ffccee;
  }

  /* line 211, ../scss/app.scss */
  .gallery img {
    width: 100%;
  }

  /* line 218, ../scss/app.scss */
  #mendrop {
    position: absolute;
    top: 78px;
    background-color: #C7FFA8;
    z-index: 2;
    width: 100%;
    display: none;
    box-shadow: 5px #888888;
  }

  /* line 227, ../scss/app.scss */
  #sresults {
    position: absolute;
    top: 78px;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 30vh;
    display: none;
  }

  /* line 237, ../scss/app.scss */
  .citylist > li {
    margin: 0;
    font-weight: bold;
    list-style-type: none;
  }

  /* line 245, ../scss/app.scss */
  .parklist {
    list-style-type: none;
  }

  /* line 251, ../scss/app.scss */
  .about p {
    font-size: 10pt;
  }

  /* line 258, ../scss/app.scss */
  .mobaccord {
    font-weight: bold;
    font-size: 16pt;
    padding: 4% 0;
  }

  /* line 264, ../scss/app.scss */
  .mobaccord ul {
    margin: 0;
    padding: 0;
  }

  /* line 270, ../scss/app.scss */
  .mobaccord li {
    margin: 4% 0;
    font-family: "Josefin Sans", sans-serif;
  }

  /* line 277, ../scss/app.scss */
  .collapsing {
    color: #ffffff;
    font-size: 18pt;
    padding: 1%;
  }

  /* line 282, ../scss/app.scss */
  .mobaccord li a {
    background-color: #000000;
    font-size: 10pt;
    font-family: 'Josefin Sans', sans-serif;
  }

  /* line 289, ../scss/app.scss */
  .thumb {
    padding: 2%;
  }

  /* line 293, ../scss/app.scss */
  .thumb img {
    width: 80%;
    margin-left: 4%;
    margin-top: 4%;
  }

  /* line 301, ../scss/app.scss */
  .ilabel {
    background-color: #ffffff;
    color: #CCCCCC;
    font-size: 12pt;
  }

  /* line 306, ../scss/app.scss */
  .thumbinfo {
    margin: 4% 0;
    line-height: 2px;
  }
}
/* line 313, ../scss/app.scss */
.grey {
  color: #737373;
}

/* line 319, ../scss/app.scss */
.prehead {
  height: 25%;
  display: inline-block;
  padding: 1%;
  background: url(../img/dlogo.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 336, ../scss/app.scss */
.about {
  display: block;
  padding: 4%;
  
}

/* line 342, ../scss/app.scss */
.map {
  padding: 0 2%;
}

/* line 347, ../scss/app.scss */
.map img {
  margin: 0 4%;
}

/* line 350, ../scss/app.scss */
.head {
  height: 50%;
  background: url(../img/contactheader.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 360, ../scss/app.scss */
.bottomhead {
  position: absolute;
  display: inline-block;
  top: 80%;
}

/* line 366, ../scss/app.scss */
#searchbar {
  clear: none;
  width: 100%;
  border-radius: 8px;
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.45);
}

/* line 372, ../scss/app.scss */
.side {
  height: 30%;
  display: block;
  margin: 0%;
}

/* line 380, ../scss/app.scss */
.snav {
  margin: 4% 0;
}

/* line 385, ../scss/app.scss */
.snav li {
  list-style: none;
  display: block;
  background-color: #c7ffa8;
  padding: 2%;
  margin-bottom: 20%;
  margin-top: 10%;
}

/* line 394, ../scss/app.scss */
.homeimage {
  float: left;
  height: 400px;
  background: url(../img/homeimage.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 405, ../scss/app.scss */
.footer {
  display: block;
  max-height: 200px;
  min-height: 100px;
  text-align: center;
  padding-top: 4%;
}
